# <div align = center>التّأكّد من سلامة الأوراق النّقديّة

<hr>

# I.    HEADERS (المكتبات)

# II.   DATA (البيانات)

# III. GRAPH (الهيكل)

# IV. SESSION (التطبيق)

<hr>

<hr>

# I - Headers

## I - 1 Librairies

In [ ]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior() 
import pandas as pan
import numpy as np

WARNING:tensorflow:From /usr/local/lib/python3.7/dist-packages/tensorflow/python/compat/v2_compat.py:101: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

## I - 2 Initialization

In [ ]:
# Learning rate
alpha = 0.01

# Number of interations
epoch=20001

# Step
Display_Step = 1000

# II - Data

## II - 1 Loading Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
data = pan.read_csv('/content/drive/My Drive/data/money.csv')

## II - 2 Data Summary

In [ ]:
data.describe()

                X1           X2  ...       Label1       Label2
count  1372.000000  1372.000000  ...  1372.000000  1372.000000
mean      0.433735     1.922353  ...     0.444606     0.555394
std       2.842763     5.869047  ...     0.497103     0.497103
min      -7.042100   -13.773100  ...     0.000000     0.000000
25%      -1.773000    -1.708200  ...     0.000000     0.000000
50%       0.496180     2.319650  ...     0.000000     1.000000
75%       2.821475     6.814625  ...     1.000000     1.000000
max       6.824800    12.951600  ...     1.000000     1.000000

[8 rows x 6 columns]

## II - 3 Display Data

In [ ]:
data.head(7)

         X1       X2       X3       X4  Label1  Label2
0 -0.025314 -0.17383 -0.11339  1.21980       1       0
1  5.807000  5.00970 -2.23840  0.43878       0       1
2 -2.434900 -9.24970  8.99220 -0.50001       1       0
3 -1.693600  2.78520 -2.18350 -1.92760       1       0
4  0.636550  5.20220 -5.21590 -6.12110       1       0
5  3.384800  3.26740  0.90967  0.25128       0       1
6  0.004054  0.62905 -0.64121  0.75817       1       0

## II-4 Split Training Data into input and output

In [ ]:
X=data.loc[:, ['X1', 'X2', 'X3', 'X4']].values
Y=data.loc[:, ["Label1", "Label2"]].values

## II-5 Split Training Data into Training set and Test set

### II-5-A Training Set

In [ ]:
x_train=data.loc[0:1000, ['X1', 'X2', 'X3', 'X4']].values
y_train=data.loc[0:1000, ["Label1", "Label2"]].values

### II-5-B Test Set

In [ ]:
x_test=data.loc[1001:len(data), ['X1', 'X2', 'X3', 'X4']].values
y_test=data.loc[1001:len(data), ["Label1", "Label2"]].values

# III - Graph

## III-1 placeholders (input has 4 features and output has 2 classes)

In [ ]:
x_inp=tf.placeholder(tf.float32,shape=[None, 4])
y_inp=tf.placeholder(tf.float32,shape=[None, 2])

## III-2 Variables. (#weight and bias)

![](https://drive.google.com/uc?export=view&id=1se1dUcgfLB089ZRD5DNcBtF2JxQQ1LA9)

In [ ]:
W1=tf.Variable(tf.random_normal([4,4]))
b1=tf.Variable(tf.random_normal([4]))

W2=tf.Variable(tf.random_normal([4,2]))
b2=tf.Variable(tf.random_normal([2]))

## III-3 Model (One Hidden Layer & SoftMax Function)

![](https://drive.google.com/uc?export=view&id=1vSa358IMFF6l8qaSUxUKajkOrDtflrZ6)

In [ ]:
z1 = tf.matmul(x_inp, W1) + b1
a1 = tf.nn.sigmoid(z1)

z2 = tf.matmul(a1, W2) + b2
a2 = tf.nn.sigmoid(z2)

y = tf.nn.softmax(a2)

## III-4 Loss function. (Cross Entropy)

In [ ]:
cross_entropy = tf.reduce_mean(-tf.reduce_sum(y_inp * tf.log(y), reduction_indices=[1]))

## III-5 Optimiser.

In [ ]:
optimizer = tf.train.GradientDescentOptimizer(alpha).minimize(cross_entropy)

## III-6 Calculating accuracy of our model .

In [ ]:
correct_prediction = tf.equal(tf.argmax(y,1), tf.argmax(y_inp,1))
accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))

# VI- Session

## VI-1 Start Session

In [ ]:
sess = tf.Session()

## VI-2 Initialising variables

In [ ]:
sess.run(tf.global_variables_initializer())

## VI-3 Training

In [ ]:
for step in range(epoch):
   _, err = sess.run([optimizer,cross_entropy], feed_dict={x_inp: x_train, y_inp: y_train})

   if step%Display_Step==0 :
       print (step,':', err)

0 : 0.8199514
1000 : 0.74780023
2000 : 0.70617384
3000 : 0.68754166
4000 : 0.6752933
5000 : 0.66263133
6000 : 0.64541405
7000 : 0.62876034
8000 : 0.6050367
9000 : 0.5672602
10000 : 0.5272771
11000 : 0.48255926
12000 : 0.43702006
13000 : 0.41822764
14000 : 0.404175
15000 : 0.39296
16000 : 0.38390335
17000 : 0.37653762
18000 : 0.37046716
19000 : 0.36536062
20000 : 0.36095574

## VI-4 Accuracy

In [ ]:
print (sess.run(accuracy,feed_dict={x_inp: x_test, y_inp:y_test}))

0.9946092